/*Tamanho padrão para tablets*/
@media only screen and (max-width: 767px) {
	.container {
		width: 100%;
	}
	header #logotipo {
		display: none;;
	}
	header
	{
		height: 40px;
	}
	#menu
	{
		display:none;
	}
	#btn-bars, #btn-search {
		color: #000;
		font-size: 22px;
		position: absolute;
		top: 4px;
		background: none;
		border: none;
		display: block;
	}
	header #row-hr-1 {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 9;
	}
	#btn-bars {
		left: 4px;
	}
	#btn-search {
		right: 4px;
	}
	#banner {
		height: 317px;
		background-size: cover;
		background-position: 0;
		text-align: center;
	}
	#banner h1 {
		top: 180px;
		font-size: 48px;
		margin-left: 0;
	}
	#banner h1 small {
		font-size: 22px;
	}
	#new
	{
		min-height: 450px;
	}
	#news h2 {
		font-size: 32px;
	}
	#news hr {
		border-width: 4px;
	}
	.owl-carousel .owl-wrapper-outer {
		margin-left: 15px;
	}
	.thumbnails {
		text-align: center;
	}
	#news .thumbnails .item-inner img {
		width: 80%;
	}
	#btn-news-prev, #btn-news-next {
		background: none;
		border: none;
		color: #ffe600;
		font-size: 48px;
		display: block;
		position: absolute;
		top:170px;
		z-index: 1;
		outline: 0;
	}
	#btn-news-next {
		right: 15px;
	}
	#btn-news-prev {
		left: 20px;
	}

	#row-section-1 p {
		margin-bottom: 40px;
	}
	
	footer {
		margin-top: 60px;
	}
	.copyright-mobile p {
		font-size: 10px;
		line-height: 0;
	}
	.copyright-mobile .pull-left {
		float: inherit!important;
	}
	footer .row p {
		text-align: center;
		line-height: 20px;
	}
	footer .row p:first-child {
		margin-top: 10px;
	}
	footer .text-roxo {
		margin-right: 10px;
	}
	footer .row {
		margin: 0;
	}
	footer .list-socials {
		text-align: center;
		width: 100%;

	}
	footer .col-md-10 {
		padding: 0;
	}
	footer .list-socials a {
		width: 45px;
		height: 45px;
		border-radius: 50%;
	}
	footer .list-socials i {
		font-size: 30px;
	}
	
	footer .btn-footer {
		width: 100%;
		background-color: #11171D;
		height: 44px;
		line-height: 35px;
	}
	footer .col-xs-6 {
		padding: 0;
		padding-right: 5px;
	}
	footer .col-xs-6:last-child {
		padding-right: 0;
		padding-left: 5px;
	}
	footer .hidden-sm-up {
		margin-top: -10px;
	}
	
	header #input-search-mobile{
		color: #000;		
	}
	footer .page-up {
		display: inline-block!important;
	}
	footer .page-up {
		display: inline-block!important;
	}
	header #menu-mobile {
		position: fixed;
		background-color: #f5e51b;
		width: 60%;
		height: 100%;
		left:-60%;
		transition: 1s;
		z-index: 5;
	}
	header.open-menu #menu-mobile {
		left: 0;
	}
	header.open-menu #menu-mobile-mask {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(0,0,0,.5);
		z-index: 4;
	}
	header.open-menu #logotipo {
		position: fixed;
		top: 50px;
		height: 76px;
		left: calc(40% - 33px);
	}
	header.open-menu #menu-mobile ul {
		margin: 20px;
		margin-top: 60px;
	}
	header.open-menu #menu-mobile li {
		text-align: center;
		border-top: #11171D 1px solid;
	}
	header.open-menu #menu-mobile li:last-child {
		border-bottom: #11171D 1px solid;
	}
	header.open-menu #menu-mobile li a {
		color: #11171D;
		font-family: 'OpenSans';
		font-weight: bold;
		font-size: 16px;
		padding: 18px;
		display: block;
		text-decoration: none;
	}
	header.open-menu .bar-close {
		position: absolute;
		bottom: 40px;
		right: 0;
		background-color: #11171D;
		height: 40px;
		width: 100%;
	}
	header.open-menu .bar-close .btn-close {
		background:none;
		border: none;
		color: #ffe600;
		font-size: 22px;
	}
	header #input-search-mobile {
		transition: 1s;
		position: fixed;
		width: 40%;
		left: 36%;
		background-color: #f5e51b;
		border: none;
		height: 40px;
		color: #000;
		outline: 0;
		font-size: 16px;
	}
	header.open-search #input-search-mobile {
		top: 0;
	}
	header.open-search #logotipo {
		z-index: 9;
	}
	#row-section-2 #stadium
	{
		width: 100%;
	}
	footer .row-footer-1 {
		min-height: 220px;
	}
	
	.fa-pinterest-p:before {
		content: "\f231";
		color: #67809f;
	}

	.fa-instagram:before {
		content: "\f16d";
		color: #67809f;
	}


	.fa-twitter:before {
		content: "\f099";
		color: #67809f;
	}


	.fa-facebook-f:before, .fa-facebook:before {
		content: "\f09a";
		color: #67809f;
	}
	#row-section-1
	{
		height: 300px;
	}

	#row-section-1 p {
		font-size: 36px;
		
	}
	#row-section-1 p small {
		font-weight: normal;
		font-size: 24px;
	}
	
	#row-section-1 img {
		width: 60%;
	}
	#row-section-1 h1 {
		transition:1s;
		color: #fff;
		top: 10px;
		position: relative;
		font-size: 40px;
		text-shadow:2px 2px 2px rgba(0, 0, 0, .45);
		font-family: 'OpenSans-Light';
	}
	#row-section-1 h1 small {
		font-size: 20px;
		display: block;
		color: #FFF;
		font-family: 'OpenSans';
		font-weight: bold;
	}
	

	#row-section-2 p {
		font-size: 36px;
		
	}
	#row-section-2 p small {
		font-weight: normal;
		font-size: 24px;
	}
	

	#row-section-3 p {
		font-size: 36px;
		
	}
	#row-section-3 p small {
		font-weight: normal;
		font-size: 24px;
	}
	#row-section-3 img {
		max-height: 230px;
	}


	
	#row-section-4 p small {
		font-weight: normal;
		font-size: 24px;
	}
	
	#row-section-4 img {
		width: 60%;
	}
	#row-section-4 hr {
		border-width: 4px;
	}
	#row-section-4 p {
		margin-top: 40px;
		margin-bottom: 40px;
		margin-left: 15px;
		margin-right: 15px;
		font-size: 16px;
	}
	#row-section-4 h2 {
		font-size: 32px;
		margin-left: 10px;
		margin-right: 10px;
	}

	#row-section-4 .col-xs-6 {
		padding: 0;
	}
	

}


